gradle-wrapper.jar
/.gradle
/.cxx/
/captures/
/gradlew
/gradlew.bat
/local.properties
/app/google-services.json
GeneratedPluginRegistrant.java

# Android Studio
/.idea/
/.settings/
*.iml

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
