# OS / Misc
*.class
*.log
*.pyc
*.swp
*.swo
*.pid
*.pid.lock
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
.fvm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
launch.json

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.flutter-plugins
.packages
.pub-cache/
.pub/
/build/
/coverage/
/reports/
/integration_test/screenshots/
web/.dart_tool/
linux/build/
linux/flutter/ephemeral/
windows/flutter/ephemeral/

# Symbolication & obfuscation
app.*.symbols
app.*.map.json

# Android artefacts
/android/.gradle/
/android/.cxx/
/android/build/
/android/app/debug
/android/app/profile
/android/app/release
key.properties
**/*.keystore
**/*.jks

# iOS & macOS artefacts
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Runner/GeneratedPluginRegistrant.*
macos/Flutter/ephemeral/
macos/Pods/
**/xcuserdata/

# Environment variables & secrets
*.env
.env
.env.*
.env.local
.env.*.local
*.pem
*.key

# Supabase local files
.supabase/

